<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>
    “Bienvenidos a TeLoVendo”.
  </h1>

  <h4>Pequeña guía para mostrar un template con django.</h4>
  <p>Entra a la carpeta donde crearas tu proyecto: cd nombre_directorio,</p>
  <p>crea tu entorno virtual : python3 -m venv .env</p>
  <p>Activa tu entorno virtual: source .env/bin/activate</p>
  <p>instala django: pip install django</p>
  <p>comprueba tu version de django: django-admin --version</p>
  <p>crea tu proyecto django : django-admin startproject proy_tlv</p>
  <p>Entra al directorio de tu nuevo proyecto : cd nuevo_proyecto,</p>
  <p>correr el servidor :python3 manage.py runserver</p>
  <p>crea tu aplicacion django: python3 manage.py startapp app_tlv</p>
  <p>Después de crear una aplicación, también necesitamos decirle a Django que debe utilizarla. <br>
    Eso se hace en el fichero settings.py <br>
    -- ábrelo en el editor y en INSTALLED_APPS y agregar una línea que contiene: <br>
    'nombre_de_la_aplicacion_creada' <br>
  </p>
  <p> <u> en urls de proyecto: </u><br><br>
    from django.contrib import admin <br>
    from django.urls import path, include <br>
    <br>
    urlpatterns = [ <br>
    path('admin/', admin.site.urls), <br>
    path('', include('app_tlv.urls')), <br>
    ]
  </p>
  <p><u>Crea un nuevo fichero vacío llamado urls.py en el directorio de tu aplicacion: </u><br>
    <br>
    from django.urls import path <br>
    from . import views <br><br>
    urlpatterns = [ <br>
    path('', views.index, name='index'), <br>
    ]
  </p>
  <p><u>Creemos una vista (view) en el directorio de la aplicacion: </u><br><br>
    from django.shortcuts import render <br>
    def post_list(request): <br>
    return render(request, 'blog/post_list.html', {}) <br>
  </p>
  <p><u>creamos la carpeta template/ en ella un carpeta de nombre de la aplicacion y en ella el html</u></p>

</body>

</html>